{% extends 'frontend/base.html.twig' %}

{% block body %}
    {% include "frontend/components/header-color.html.twig" %}
    <section class="section-content articles">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="section-title">
                        Artykuły
                    </h1>
                    <p class="section-description">Ciekawostki o zdrowym odżywianiu oraz kulturze fizycznej</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-content">
        <div class="container standalone-section">
            <div class="row articles-list">
                <div class="col-md-12">
                    <div class="row conference-title">
                        {% for category in categories %}
                            <div class="col-md-3 col-sm-5 col-12 conference-column cat_id cat_id_{{ category.id }}">
                                <div class="row pb-md-2 pt-md-2">
                                    <div class="col">
                                        <h2 class="category-link "
                                            data-categoryid="{{ category.id }}"> {{ category.title }}</h2>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-12 article-container">
                                {% for key,category in categories %}
                                    <div class="row article-tile show_cat show_cat_{{ category.id }}">
                                        {% set prevYead_1 = null %}
                                        {% for article in articles if article.category.id == category.id %}
                                            {% if prevYead_1 != article.publishDate|date('Y') %}
                                                <div class="col-12 year line-gray">
                                                    <p>{{ article.publishDate|date('Y') }}</p>
                                                </div>
                                            {% endif %}
                                            {% set prevYead_1 = article.publishDate|date('Y') %}
                                            {% include 'frontend/article/partial_article.html.twig' %}
                                            {% include 'frontend/article/modal_video.html.twig' %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}