<div class="modal fade" id="videoModalfromList-{{ article.id }}" tabindex="-1" role="dialog"
     aria-labelledby="videoModalfromList"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal-video" data-dismiss="modal" aria-label="Close">
                    <img alt="close" src="{{ asset('build/img/close.png') }}">
                </button>
            </div>
            <div class="modal-body">
                <video id="modal-video" class="video-fluid z-depth-1" playsinline controls controlsList="nodownload" disablePictureInPicture >
                <source src="{{ article.fileUrl }}" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>

