<div id="videoListBtn" class="col-lg-4 col-md-12 flex-column justify-content-center " data-toggle="modal"
     data-target="#videoModalfromList-{{ article.id }}">
    <a class="text-decoration-none" href="#">
        <div class="image">
            <img src="{{ article.imageUrl }}" alt="Thumbnail"
                 class="img-fluid">
        </div>
        <div class="d-flex justify-content-between created">
            <div class="created">{{ article.publishDate|date('j ') ~ article.publishDate|date('F')|trans ~ article.publishDate|date(' Y') }}</div>
        </div>
        <div class="title">
            {{ article.description|raw }}
            <div class="arrow-open">Zobacz Artykuł</div>
        </div>
    </a>
</div>