{% extends 'frontend/base.html.twig' %}

{% block body %}
    {% include "frontend/components/header.html.twig" %}
    <section class="section-content ">
        <div class="container contact-content">
            <div class="row">
                <div class="col">
                    <h1 class="section-title">
                        Kontakt
                    </h1>
                    <p class="section-description">Skontaktuj się ze mną za pomocą poniższego formularza kontaktowego, na Twoje zapytanie,<br> postaram się odpowiedzieć jak najszybciej.</p>
                </div>
            </div>
            <div class="col-lg-6 contact-form pb-5">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col form-group {% if not form.children['subject'].vars.valid %}form-error{% endif %}">
                        {{ form_label(form.subject, null, {'label_attr':{'class':'control-label form__label'}}) }}
                        {{ form_widget(form.subject, {'attr': {'class': 'form-control form-control-lg form__input'}}) }}
                        {{ form_errors(form.subject) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group {% if not form.children['email'].vars.valid %}form-error{% endif %}">
                        {{ form_label(form.email, null, {'label_attr':{'class':'control-label form__label'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg form__input'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group {% if not form.children['message'].vars.valid %}form-error{% endif %}">
                        {{ form_label(form.message, null, {'label_attr':{'class':'control-label form__label'}}) }}
                        {{ form_widget(form.message, {'attr': {'class': 'form-control form-control-lg form__input'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group d-flex justify-content-start">
                        <span class="required-fields">Pola obowiązkowe*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group d-flex justify-content-start">
                        <button type="submit" class="btn btn-send">Wyślij</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}