@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../webfonts/Poppins-Bold.ttf') format('truetype'), url('../webfonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../webfonts/Poppins-Regular.ttf') format('truetype'), url('../webfonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../webfonts/Poppins-Light.ttf') format('truetype'), url('../webfonts/Poppins-Light.ttf') format('truetype');
}

body {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 400;
}

/* Header */
.header {
  border-bottom: 1px solid #cbceda;
  .navbar {
    padding: 0;
    .header-logo {
      .navbar-brand {
        padding: 0;
        margin: 0;
      }
      img {
        background: #ffffff;
        height: 94px;
        padding-left: 23px;
      }
    }
    .navbar-nav {
      .nav-item {
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        .nav-link {
          font-family: 'Poppins-Bold', sans-serif;
          color: #464249;
          font-size: 15px;
          line-height: 29px;
          text-transform: uppercase;
          &:hover, &.active {
            color: #464249;
          }
        }
        .nav-link-articles {
          font-family: 'Poppins-Bold', sans-serif;
          color: #06b79f;
          font-size: 15px;
          line-height: 29px;
          text-decoration: underline;
          text-transform: uppercase;
          &:hover, &.active {
            color: #06b79f;
          }
        }
      }
    }
  }
}

/* Main content */

/* Section banners */
.section-banner {
  padding: 150px 0 200px;
  &.main {
    padding: 0;
    .main-info {
      position: relative;
      height: calc(100vh - 223px);
      //height:100%;
    }
    .main-title {
      font-family: 'Poppins-Bold', sans-serif;
      background-color: rgba(0, 184, 160, 0.8);
      padding: 30px 0px;
      //border-radius: 5px;
      border-top-left-radius: 0px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 0px;
      h2 {
        color: #fff;
        font-size: 36px;
        line-height: 56px;
        margin-left: 50px;
        max-width: 780px;
      }
    }

.section-content {
  margin-top: 20px;
  .standalone-section {
    box-shadow: 0px -15px 0px 55px #fff;
    background-color: #fff;
  }
  .section-title {
    font-family: 'Poppins-Bold', sans-serif;
    color: #541b7d;
    font-size: 30px;
    text-align: center;
  }
  .section-description {
    font-family: 'Poppins-Regular', sans-serif;
    color: #464249;
    font-size: 20px;
    text-align: center;
  }
  .main-video {
    overflow: hidden;
    .mg-10px {
      margin-bottom: 10px;
    }
    .mg-30px {
      margin: 30px auto 50px;
    }
    .video-title {
      font-family: 'Poppins-Bold', sans-serif;
      color: #541b7d;
      font-size: 30px;
      text-align: center;
    }
    .video-description {
      font-family: 'Poppins-Regular', sans-serif;
      color: #0f1323;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
    }
    .video-description-bottom {
      font-family: 'Poppins-Regular', sans-serif;
      color: #0f1323;
      font-size: 22px;
      line-height: 30px;

    }
    .video-img {
      img {
        cursor: pointer;
      }
    }
    .main-vid {
    }
    .video-button {
      width: 420px;
      height: 72px;
      background-color: #00b8a0;
      border-radius: 10px;
      margin: 0 auto;
      cursor: pointer;
      .navbar-brand {
        position: relative;
      }
      a {
        color: #ffffff;
        padding-top: 20px;
        &:before, &:after {
          background: #ffffff;
          content: "";
          display: block;
          height: 0.2em;
          position: absolute;
          left: 356px;
          width: 10px;
        }
        &:before {
          top: 1.85em;
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg)
        }
        &:after {
          bottom: 1.0em;
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg)
        }
      }
    }
  }
  .articles-list {
    .year {
      p {
        position: relative;
        text-decoration: none;
        color: #541b7d;
        padding-top: 4px;
        padding-left: 18px;
        font-size: 22px;
        &:before, &:after {
          font-size: 18px;
          background: #541b7d;
          content: "";
          display: block;
          height: 0.2em;
          position: absolute;
          left: 0;
          width: 10px
        }
        &:before {
          top: 0.86em;
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg)
        }
        &:after {
          bottom: 0.76em;
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg)
        }
      }
    }
    .conference-title {
      border-bottom: 1px solid #e2e2e2;
      border-top: 1px solid #e2e2e2;
      .conference-column {
        cursor: pointer;
        &.active {
          border-bottom: 2px solid #432280;
          h2 {
            color: #541b7d;
          }

        }
        h2 {
          font-family: 'Poppins-Bold', sans-serif;
          color: #e2e2e2;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
          padding-top: 10px;
          //border-bottom: 2px solid #432280;x
        }
      }
    }

    .article-container {
      .article-tile {
        margin-top: 20px;
        .line-gray:nth-child(1) {
          border-top: none;
        }
        .line-gray {
          border-top: 1px solid #e2e2e2;
          padding-top: 10px;
        }
        .title {
          font-family: 'Poppins-Bold', sans-serif;
          color: #424d47;
          font-size: 18px;
          text-decoration: none;
        }
        .image {
          image {
            border-radius: 10px;
          }
        }
        .created {
          padding-top: 10px;
          color: #9093a3;
          font-size: 13px;
          font-weight: 400;
          padding-bottom: 5px;
        }
        .arrow-open {
          position: relative;
          text-decoration: none;
          font-family: 'Poppins-Bold', sans-serif;
          color: #18b79f;
          font-size: 14px;
          text-transform: uppercase;
          cursor: pointer;
          margin: 25px 0;
          letter-spacing: 1px;
          &:before, &:after {
            font-size: 9px;
            background: #18b79f;
            content: "";
            display: block;
            height: 0.2em;
            position: absolute;
            left: 118px;
            width: 7px
          }
          &:before {
            top: 0.76em;
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg)
          }
          &:after {
            bottom: 0.96em;
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg)
          }
        }
      }

    }
  }

  .contact-content {
    .alert-success {
      padding: 20px 0;
      margin-bottom: 25px;
      background-color: rgba(22, 220, 75, 0.1);
      border: 0;
      border-radius: 0;
      color: #0f1323;
      font-size: 17px;
      text-align: center;
      img {
        padding: 0 20px;
      }
    }
    .contact-form {
      margin: 0 auto;
      .form__input {
        border: 1px solid #b5b3b5;
        border-radius: 5px;
      }
      .form__label {
        font-family: 'Poppins-Bold', sans-serif;
        color: #99979a;
        font-size: 12px;
        letter-spacing: 0.3px;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image:
                linear-gradient(45deg, rgba(255,0,0,0) 50%, white 50%),
                linear-gradient(135deg, white 50%, rgba(255,0,0,0) 50%),
                linear-gradient(45deg, rgba(255,0,0,0) 50%, #a09fa1 50%),
                linear-gradient(135deg, #a09fa1 50%, rgba(255,0,0,0) 50%);
        background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px),
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 12px) calc(1em + 2px);
        background-size:
                5px 5px,
                5px 5px,
                8px 8px,
                8px 8px;
        background-repeat: no-repeat;
      }
      .form-error {
        color: #ed0e0e;
        font-size: 11px;
        letter-spacing: 0.28px;
        .form__input {
          border: 1px solid #ed0e0e;
          border-radius: 5px;
        }
        .form__label {
          font-family: 'Poppins-Bold', sans-serif;
          color: #ed0e0e !important;
        }
        ul {
          padding: 0px;
          margin: 0px;
          list-style: none;
        }
      }
      .btn-send {
        font-family: 'Poppins-Bold', sans-serif;
        background-color: #18b79f;
        border-radius: 5px;
        min-width: 150px;
        text-align: center;
        color: #ffffff;
        font-size: 13px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 0.33px;
      }
      .required-fields {
        font-family: 'Poppins-Bold', sans-serif;
        color: #b5b3b5;
        font-size: 11px;
        letter-spacing: 0.3px;
      }
    }
  }
}

.form-control {
  font-family: 'Poppins-Regular', sans-serif;
  color: #99979a !important;
  font-size: 14px;
}

.agrees {
  flex-direction: row;
  display: flex;
  margin-top: 10px;
  input {
    order: 1;
    appearance: none;
    border: 1px solid #b5b3b5;
    display: inline-block;
    background-color: transparent;
    margin-right: 15px;
    padding: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    align-self: flex-start;
    position: relative;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
    &:checked:after {
      content: '';
      font-size: 14px;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 16px;
      height: 9px;
      border-left: 3px solid #18b79f;
      border-bottom: 3px solid #18b79f;
      transform: rotate(-45deg);
    }
  }
  label {
    display: block;
    font-family: "Poppins-Regular", sans-serif;
    color: #b5b3b5;
    font-size: 11px;
    order: 2;
  }
  &.form-error {
    label {
      color: #ed0e0e;
    }
    input {
      border: 1px solid #ed0e0e;
    }
  }
}

/* Modal */

.modal {
  background-color: rgba(0,0,0,0.7);
  .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
    .modal-content {
      background-color: transparent !important;
      border: none !important;
      .modal-header {
        button:focus {
          outline: 5px auto transparent !important;
        }
        border-bottom: none !important;
        .close {
          padding-bottom: 0px;
          img {
            width: 30px;
          }
        }
      }
      .modal-body {
        video {
          width: 100%;
        }

      }
    }
  }
}

/* Footer */

.footer {
  background-color: #541b7d;
  margin-top: 50px;
  padding: 30px 0 0px;
  .mg-t-50 {
    margin-top: 50px;
  }
  p {
    font-family: 'Poppins-Light', sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
  }
  .footer-logo img {
    height: 58px;
    margin: 15px;
  }
  .footer-menu {
    margin-bottom: 30px;
    a {
      color: #ffffff;
      font-size: 12px;
      line-height: 30px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

/* errors */

.error-content {
  margin: 150px 0;
  .code {
    color: #e6ddec;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 160px;
    letter-spacing: 8px;
  }
  .message-title {
    padding-bottom: 30px;
    color: #464249;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 30px;
  }
  .message-desc {
    padding-bottom: 30px;
    color: #464249;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Poppins-Light', sans-serif;
  }
  .message-arrow-back {
    //margin: 150px 0;
    //cursor: pointer;
    a {
      background-color: #00b8a0;
      position: relative;
      font-family: 'Poppins-Bold', sans-serif;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 0.33px;
      text-decoration: none;
      padding: 15px 45px;
      border-radius: 5px;
      &:before, &:after {
        background: #ffffff;
        content: "";
        display: block;
        height: 0.2em;
        position: absolute;
        right: 265px;
        width: 7px
      }
      &:before {
        top: 1.65em;
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
      }
      &:after {
        bottom: 1.65em;
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg)
      }
    }
  }

}

/*Cookies*/
.cookiesWrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: 0;
  background: #fff;
  display: none;
  padding: 20px 0;
  font-family: 'Poppins-Regular', sans-serif;
  div {
    color: #22262e;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    a {
      color: #00afc3;
      text-decoration: underline;
    }
  }
  .agreeLink {
    font-family: 'Poppins-Regular', sans-serif;
    background-color: #00a997;
    color: #ffffff;
    padding: 15px 20px;
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    max-width: 270px;
    max-height: 50px;
  }
}

/* Media */

@media screen and (max-width: 1311px) {
  .section-banner {
    &.main {
      .main-info {
        position: relative;
        height: calc(100vh - 357px);
        .main-title {
          h2 {
            font-size: 30px;
            line-height: 50px;
          }
        }
      }

    }
  }
}

/*Ipad pro*/

@media screen and (max-width: 1366px) and (min-height: 1024px) {
  .section-banner {
    &.main {
      .main-info {
        position: relative;
        //height: calc(100vh - 932px);
        height: calc(100vh - 445px);
        .main-title {
          h2 {
            font-size: 24px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-height: 1366px) {
  .section-banner {
    &.main {
      .main-info {
        position: relative;
        //height: calc(100vh - 932px);
        height: calc(100vh - 930px);
        .main-title {
          h2 {
            font-size: 24px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .cookiesWrapper {
    .agreeLink {
      max-height: 65px;
    }
  }
}

@media screen and (max-width: 823px) and (max-height: 414px) {
  .section-banner {
    &.main {
      .main-info {
        position: relative;
        height: calc(100vh - 50px);
        .main-title {
          h2 {
            font-size: 24px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

/*Ipad */

@media screen and (max-width: 768px) and (min-height: 1024px) {
  .section-banner {
    &.main {
      .main-info {
        position: relative;
        //height: calc(100vh - 932px);
        height: calc(100vh - 697px);
        .main-title {
          h2 {
            font-size: 24px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .section-banner {
    &.main {
      .main-info {
        position: relative;
        height: calc(100vh - 449px);
        .main-title {

          h2 {
            font-size: 20px;
            line-height: 31px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
          }

        }
      }
      .main-banner {
        display: none;
      }
    }
  }
  .section-content {
    .main-video {
      .video-button {
        width: 300px;
        height: 95px;
        .navbar-brand {
          white-space: inherit !important;
        }
        a {
          margin: 0 auto;
          margin-right: 0px;
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .section-banner {
    &.main {
      .main-info {
        position: relative;
        height: calc(100vh - 344px);
        .main-title {
          h2 {
            font-size: 13px;
            line-height: 30px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}




