{% block vich_file_widget %}
    {% spaceless %}
        <div class="vich-file well" style="margin-bottom: 0px">
            <div class="row">
                <div class="col-md-5">
                    {{ form_widget(form.file) }}
                </div>
                <div class="col-md-5">
                    {% if form.delete is defined %}
                        {{ form_label(form.delete) }}
                        &nbsp;
                        {{ form_widget(form.delete) }}
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if download_uri is defined and download_uri %}
                        <a href="{{ download_uri }}" class="btn btn-default">{{ 'Pobierz plik'|trans({}, 'VichUploaderBundle') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-image well">
            <div class="row">
                <div class="col-md-5">
                    {{ form_widget(form.file) }}
                </div>
                <div class="col-md-5">
                    {% if form.delete is defined %}
                        {{ form_label(form.delete) }}
                        &nbsp;
                        {{ form_widget(form.delete) }}
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if download_uri is defined and download_uri %}
                        <a href="{{ download_uri }}" class="btn btn-default">{{ 'Pobierz plik'|trans({}, 'VichUploaderBundle') }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="preview text-center">
                <hr/>
                {% if download_uri is defined and download_uri %}
                    <img id="{{ form.vars.id }}" class="img-responsive" src="{{ download_uri }}" style="max-height: 300px; margin: 0 auto;" alt=""/>
                {% endif %}
            </div>
            {% if show_download_link and download_uri is defined and download_uri %}
                <a href="{{ download_uri }}"></a>
            {% endif %}
        </div>
        <script type="text/javascript">
            $(function() {
                var $input     = $('#{{ form.file.vars.id }}');
                var $container = $input.closest('.vich-image');
                var $preview   = $container.find('.preview img');

                if ($preview.length) {
                    $input.trigger('image:changed', $preview);
                }

                $input.change(function() {
                    if ($input[0].files && $input[0].files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            var $previewContainer = $container.find('.preview');

                            if (!$previewContainer.find('img').length) {
                                $previewContainer.html('<img class="img-responsive" style="max-height: 300px; margin: 0 auto;"/>')
                            }

                            $previewContainer.find('img').attr('src', e.target.result);
                            $input.trigger('image:changed', $previewContainer.find('img'));
                        };

                        reader.readAsDataURL($input[0].files[0]);
                    }
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block vich_video_widget %}
    {% spaceless %}
        <div class="vich-video well">
            <div class="row">
                <div class="col-md-5">
                    {{ form_widget(form.file) }}
                </div>
                <div class="col-md-5">
                    {% if form.delete is defined %}
                        {{ form_label(form.delete) }}
                        &nbsp;
                        {{ form_widget(form.delete) }}
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if download_uri is defined and download_uri %}
                        <a href="{{ download_uri }}"
                           class="btn btn-default">{{ 'Pobierz plik'|trans({}, 'VichUploaderBundle') }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="preview text-center">
                <hr/>
                {% if video_uri %}
                    <video id="{{ form.vars.id }}" width="320" height="240" controls>
                        <source src="{{ video_uri }}" type="video/mp4">
                        <source src="{{ video_uri }}" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            </div>
            {% if show_download_link and download_uri is defined and download_uri %}
                <a href="{{ download_uri }}"></a>
            {% endif %}
        </div>
        <script type="text/javascript">
            $(function () {
                var $input = $('#{{ form.file.vars.id }}');
                var $container = $input.closest('.vich-video');
                var $preview = $container.find('.preview video');
                if ($preview.length) {
                    $input.trigger('image:changed', $preview);
                }
                $input.change(function () {
                    if ($input[0].files && $input[0].files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            var $previewContainer = $container.find('.preview');

                            if (!$previewContainer.find('video').length) {
                                $previewContainer.html('<video width="320" height="240" controls><source  type="video/mp4"></video>')
                            }
                            $previewContainer.find('video').attr('src', e.target.result);
                            $input.trigger('image:changed', $previewContainer.find('video'));
                        };
                        reader.readAsDataURL($input[0].files[0]);
                    }
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}
