<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Health{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:image" content="{% block og_image %}{% endblock %}" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta property="og:description" content="{% block og_meta_description %}{% endblock %}" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        {{ encore_entry_link_tags('css/style') }}
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include "frontend/components/footer.html.twig" %}
        {% include "frontend/components/cookies.html.twig" %}
        {{ encore_entry_script_tags('js/script') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
