{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Galderma quiz{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">
    {{ encore_entry_link_tags('css/style') }}
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
</head>
<body>
<section class="content">
    <div class="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 bg-dark text-white">
                    <div class="px-3 py-4">
                        <h2 class="text-center">Logowanie</h2>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <div class="form-group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />
                            </div>

                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            {% if error %}
                                <div class="form-group text-left mt-4 mb-0" style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group text-right mt-4 mb-0">
                                <button class="btn btn-primary" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>