{% extends 'frontend/base.html.twig' %}

{% block body %}
    {% include "frontend/components/header.html.twig" %}
    <section class="error-content">
        <div class="container d-flex justify-content-center">
            <div class="row text-center">
                <div class="col-12 code">500</div>
                <div class="col-12 message-title">Przepraszamy !</div>
                <div class="col-12 message-desc">Wystąpił nieoczekiwany błąd.</div>
                <div class="col-12 message-arrow-back">
                    <a href="{{ path('frontend_homepage') }}">
                        Powrót do strony głównej
                    </a>
                    {#<a href="{{ app.request.server.get('http-referer')|default('/') }}">Powrót</a>#}
                </div>
            </div>
        </div>
    </section>
{% endblock body %}