{% block user_block %}
    <li class="{% if app.request.attributes.get('_route') == 'fos_user_profile_show' %}current{% endif %}">
        <a href="{{ path('fos_user_profile_show') }}">
            Mój profil
        </a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">
            Wyloguj się
        </a>
    </li>
{% endblock %}