<div class="cookiesWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                Polityka prywatności: W ramach niniejszego bloga zamierza korzystać z <a href="#" target="_blank">plików cookies</a> dla
                potrzeb statystyki tj. badania ilości osób ostatnio odwiedzających stronę lub podstrony oraz czasu
                aktywności na takiej stronie lub podstronie. W programie służącym do obsługi Internetu można zmienić
                ustawienia dotyczące plików cookies. Korzystanie z niniejszego bloga bez zmian ustawień dotyczących
                plików cookies oznacza, że będą one zapisywane w pamięci urządzenia.
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a class="agreeLink" href="">Akceptuję politykę cookies</a>
            </div>
        </div>
    </div>
</div>