<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-menu">
                <div class="row">
                    <div class="col-md-6 col-6 text-md-left">
                        <div class="d-inline-block text-md-left">
                            <div>
                                <a href="{{ path('frontend_articles') }}">Artykuły video</a>
                            </div>
                            <div>
                                <a href="{{ path('frontend_contact') }}">Napisz do mnie</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>