<header class="header">
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link-articles" href="{{ path('frontend_articles') }}">Materiały video</a>
                </li>
            </ul>
        </div>
    </nav>
</header>