{% extends 'frontend/base.html.twig' %}

{% block body %}
    {% include "frontend/components/header.html.twig" %}
    <section class="section-banner main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 main-info text-left d-inline-flex flex-column justify-content-around">
                    {#<div></div>#}
                    <div class="row">
                        <div class="col-lg-8 col-12 main-title">
                            <h2>
                                Poznaj ciekawe artykuły z tematyki zdrowego odżywiania i kultury fizycznej
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-content bg-white">
        <div class="container standalone-section main-video">
            <div class="row">
                <div class="col-md-12 mg-30px d-flex flex-column justify-content-around">
                    <div class="video-title mg-10px">
                        Poznaj tajniki zdrowego życia
                    </div>
                    <div class="video-description">
                        Zapraszam do śledzenia bloga! Porady znajdujące się tutaj pozwolą Ci zdrowiej żyć!
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div id="videoBtn" data-toggle="modal" data-target="#videoModal" class="video-img">
                        <img src="{{ promotedArticle.imageUrl }}" alt="IMG" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-12 mg-30px d-flex flex-column justify-content-around">
                    <div class="video-description-bottom">
                        {{ promotedArticle.description|raw }}
                    </div>
                </div>
                <div class="col-md-12 mg-30px text-center d-flex  justify-content-around">
                    <div class="video-button" >
                        <a class="navbar-brand" href="{{ path('frontend_articles') }}">
                            Zobacz pozostałe materiały video
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-main-video" data-dismiss="modal" aria-label="Close">
                        <img alt="close" src="{{ asset('build/img/close.png') }}">
                    </button>
                </div>
                <div class="modal-body">
                    <video id="main-video" class="video-fluid z-depth-1 " playsinline controls controlsList="nodownload" disablePictureInPicture>
                        <source src="{{ promotedArticle.fileUrl }}" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
